@import "./utilidades/utilidadesImport" ; 
@import "./componentes/componentesImport";

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $azul-clarinho;
    color: #fff;
}