@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.bg-1 {
  background-image: url("../../img/fundo.jpg");
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#visual {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#visual #cima {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

#visual #baixo {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0rem 2rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.m-bottom-1 {
  margin-bottom: 1rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.m-top-2 {
  margin-top: 2rem;
}

.m-top-1 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.aviso {
  background-color: #CFDBE9;
  margin: 1rem;
  font-size: 0.8rem;
  color: #fff;
  font-weight: lighter;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 2rem;
  border: 1px solid #9DB0D8;
}

.aviso .avisoInner {
  margin: 0 1rem;
}

.aviso i {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.blue {
  color: #869DC7;
}

.blue2 {
  color: #CFDBE9;
}

#mask {
  -webkit-mask: url("../../img/Vector (1).svg");
          mask: url("../../img/Vector (1).svg");
  width: 100%;
  top: -50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagina .avatar {
  margin-top: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.pagina .avatar img {
  border-radius: 50%;
  width: 10rem;
  border: solid 10px #CFDBE9;
}

.pagina .desenvolvedora {
  cursor: default !important;
  margin-bottom: 1rem;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.5rem 1rem;
}

.pagina .menu {
  text-align: left;
  line-height: 3rem;
  position: 2rem;
  padding: 0 2rem;
}

.pagina .menu h2 {
  z-index: 5000 !important;
  letter-spacing: 0.1rem;
  padding: 1rem 0.5rem;
  position: relative;
  margin: 0 !important;
  z-index: 5000;
}

.pagina .menu h2 a {
  color: #F7C4C1;
}

.pagina .menu h2:before {
  content: "";
  width: 2rem;
  z-index: 20;
  height: 2rem;
  background-color: #EEF5FD;
  position: absolute;
  z-index: -1;
}

.pagina .menu h2:hover:before {
  width: 15rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #EEF5FD;
  position: absolute;
}

#mask2 {
  -webkit-mask: url("../../img/Vector (2).svg");
          mask: url("../../img/Vector (2).svg");
  width: 30%;
  top: 30%;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

@media (max-width: 600px) {
  h2:hover:before {
    width: 10rem !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #EEF5FD;
    position: absolute;
    height: 3rem;
  }
  #mask {
    -webkit-mask: url("../../img/Vector (1).svg");
            mask: url("../../img/Vector (1).svg");
    width: 100%;
    top: -90%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}

#trabalho {
  margin-top: 3rem;
}

#trabalho h2 {
  font-size: 3rem;
  margin: 0 2rem;
  color: #869DC7;
}

#trabalho h2::after {
  content: url("../../img/ant-design_heart-filled.svg");
}

#trabalho img {
  width: 60vw;
  border-radius: 10px;
  opacity: 0.95;
}

html {
  scroll-behavior: smooth;
}

#head span {
  justify-self: flex-start;
  font-weight: bold;
  color: #fff;
  margin-right: 3rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  border: #9DB0D8 solid 4px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .head-card {
  background-color: #CFDBE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #9DB0D8;
  border-radius: 20px 20px 0 0;
  padding: 0.5rem;
}

.card .head-card .botoes {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .head-card .botoes .mini {
  height: 20px;
  width: 20px;
  background-color: #EEF5FD;
  border: 3px solid #9DB0D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.card .head-card .botoes .mini:before {
  content: '';
  height: 0px;
  width: 10px;
  position: relative;
  border-bottom: 3px solid #CFDBE9;
}

.card .head-card .botoes .max {
  height: 20px;
  width: 20px;
  margin: 0 0.5rem;
  background-color: #EEF5FD;
  border: 3px solid #9DB0D8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .head-card .botoes .max:before {
  content: '';
  height: 8px;
  width: 8px;
  position: relative;
  border: 3px solid #CFDBE9;
}

.card .head-card .botoes .exit {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #EEF5FD;
  border: 3px solid #9DB0D8;
  color: #CFDBE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card .body-card {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  color: #F7C4C1;
}

.card .body-card .logo img {
  height: 4.5rem;
  width: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.btn {
  background-color: #EEF5FD;
  border: 4px solid #CFDBE9;
  color: #869DC7;
  z-index: 7000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5rem 7rem;
}

.btn:hover {
  cursor: pointer;
  color: #FBC3C3;
  border: 4px solid #F7C4C1;
  background-color: #FEF6F4;
}

.efeito {
  margin: 2rem;
}

.efeito .carregando {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #CFDBE9;
  padding: 0.2rem;
  border-radius: 11px;
}

.efeito .carregando .box-load {
  width: 2rem;
  height: 2.5rem;
  border-radius: 11px;
  margin-left: 0.5rem;
  background-color: #CFDBE9;
}

.efeito .carregando .box-load:nth-child(1) {
  -webkit-animation-name: colorirAzulEscuro;
          animation-name: colorirAzulEscuro;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.efeito .carregando .box-load:nth-child(2) {
  -webkit-animation-name: colorirAzulEscuro, colorirRosa;
          animation-name: colorirAzulEscuro, colorirRosa;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-delay: 0.5s, 0s;
          animation-delay: 0.5s, 0s;
}

.efeito .carregando .box-load:nth-child(3) {
  -webkit-animation-name: colorirAzulEscuro, colorirRosa;
          animation-name: colorirAzulEscuro, colorirRosa;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-delay: 1s, 0.5s;
          animation-delay: 1s, 0.5s;
}

.efeito .carregando .box-load:nth-child(4) {
  -webkit-animation-name: colorirAzulEscuro, colorirRosa;
          animation-name: colorirAzulEscuro, colorirRosa;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-delay: 1.5s, 1s;
          animation-delay: 1.5s, 1s;
}

.efeito .carregando .box-load:nth-child(5) {
  -webkit-animation-name: colorirRosa;
          animation-name: colorirRosa;
  -webkit-animation-duration: 1s, 1s;
          animation-duration: 1s, 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes colorirAzulEscuro {
  0% {
    background-color: #869DC7;
  }
  50% {
    background-color: #869DC7;
  }
  100% {
    background-color: #869DC7;
  }
}

@keyframes colorirAzulEscuro {
  0% {
    background-color: #869DC7;
  }
  50% {
    background-color: #869DC7;
  }
  100% {
    background-color: #869DC7;
  }
}

@-webkit-keyframes colorirRosa {
  0% {
    background-color: #FBC3C3;
  }
  50% {
    background-color: #FBC3C3;
  }
  100% {
    background-color: #FBC3C3;
  }
}

@keyframes colorirRosa {
  0% {
    background-color: #FBC3C3;
  }
  50% {
    background-color: #FBC3C3;
  }
  100% {
    background-color: #FBC3C3;
  }
}

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #CFDBE9;
  color: #fff;
}

::selection {
  background-color: #CFDBE9;
  color: #fff;
}
/*# sourceMappingURL=mainstyle.css.map */