.bg-1 {
    background-image: url('../../img/fundo.jpg');
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#visual {
    position: absolute;
    z-index: -1;
    width: 100%;
   
   height: 100%;
 #cima {
     
    transform: translateX(100vw);
 

 
 
}
#baixo{
    transform: translateY(100vh);
 }

// path {
//     position: absolute;
//     z-index: 500;
//     top: 100px;
//     left: 0;
// }
}


