// Cores

$azul-clarinho: #CFDBE9;
$rosa-clarinho: #FEF6F4;
$rosa-bege-claro: #FBE6E1;
$azul: #9DB0D8;
$rosa-mais-escuro1: #F7C4C1;
$rosa-mais-escuro2: #FBC3C3;
$azul-mt-clarinho: #EEF5FD;
$azul-escuro: #22324B;
$azul2: #869DC7;
